@font-face {
    font-family: myWebFont;
    src: url(./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf) format('trueType');
}

:root {
    font-family: myWebFont;
    font-size: 0.9rem;
}

body {
    background-color: lightgray;
    height: calc(100vh-1px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    background-color: white;
    max-width: 80%;
    margin: auto;
    margin-top: 4rem;
    padding: 1rem;
}

.heading {
    display: flex;
    line-height: 1.5rem;
}

.heading-left {
    width: 50%;
    text-align: left;
    font-variation-settings: 'wght' 700;
    font-size: 1.3rem;
}

.heading-right {
    width: 50%;
    text-align: right;
    font-variation-settings: 'wght' 200;
    font-size: 0.8rem;
    align-self: center;
}

.notif {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: 
        "image description"
        "image time"
    ;
}

.notif > figure {
    grid-area: "image";
}

.notif > figure > img {
    width: 100%;
    height: 100%
}

.notif > .notif-message {
    grid-area: "description";
}

.notif > .notif-time {
    grid-area: "time"
}

@media (min-width: 720px) {
    body { 
        max-width: 70%;
        margin: auto;
        padding: 1rem;
    } 
}
